@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  button,
  [type="button"],
  [type="reset"],
  [type="submit"] {
    background-color: var(--n-color);
  }
}

html, body, #app {
  height: 100%;
  margin: 0;
  padding: 0;
}

.markdown-root p {
  margin: .5rem 0;
}

.markdown-root ul {
  padding-left: 1rem;
  list-style: inside;
  list-style-type: circle;
}

.markdown-root ol {
  padding-left: 1rem;
  list-style: inside;
  list-style-type: decimal;
}

@media (prefers-color-scheme: dark) {
  :root {
    color: #f6f6f6;
    background-color: #2f2f2f;
  }

  a:hover {
    color: #24c8db;
  }

  input,
  button {
    color: #ffffff;
    background-color: #0f0f0f98;
  }
}
