@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  button,
  [type="button"],
  [type="reset"],
  [type="submit"] {
    background-color: var(--n-color);
  }

  .border-color{
    border-color: var(--border-color);
  }
}

html {
  overflow: hidden;
}

html, body, #app {
  height: 100%;
  margin: 0;
  padding: 0;
}

.markdown-root *{
  white-space: pre-wrap;
}

.markdown-root p {
  margin: .5rem 0;
}

.markdown-root ul {
  padding-left: 1rem;
  list-style: inside;
  list-style-type: circle;
}

.markdown-root ol {
  padding-left: 1rem;
  list-style: inside;
  list-style-type: decimal;
}

.markdown-root pre {
  background: var(--code-bg-color);
  padding: .5rem;
  border-radius: .5rem;
}
