@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  button,
  [type="button"],
  [type="reset"],
  [type="submit"] {
    background-color: var(--n-color);
  }

  .border-color{
    border-color: var(--border-color);
  }
}

html {
  overflow: hidden;
}

html, body, #app {
  height: 100%;
  margin: 0;
  padding: 0;
}

.markdown-root p, pre, code {
  white-space: pre-wrap;
  word-break: break-word;
}

.markdown-root.assistant-msg {
  color: var(--assistant-msg-color);
  background-color: var(--assistant-msg-bg-color);
}

.markdown-root.user-msg {
  color: var(--user-msg-color);
  background-color: var(--user-msg-bg-color);
}

.markdown-root p {
  padding: .5rem 0;
}

.markdown-root a {
  color: var(--primary-color);
}

.markdown-root ul {
  padding: .5rem 0 .5rem 1rem;
  list-style: inside;
  list-style-type: circle;
}

.markdown-root ol {
  padding: .5rem 0 .5rem 1rem;
  list-style: inside;
  list-style: inside;
  list-style-type: decimal;
}

.markdown-root pre {
  background: var(--code-bg-color);
  padding: .5rem;
  border-radius: .5rem;
  margin: .8rem 0;
}

.n-scrollbar-content {
  height: 100%;
}

.n-dialog.n-modal {
  border-radius: .5rem;
  display: flex;
  flex-direction: column;
}

.n-dialog__content {
  flex: 1;
  overflow: hidden;
}
